
.containerCA{
    background-image: linear-gradient(to top, hsla(241, 75%, 76%, 0.493) 0%, hsla(346, 86%, 88%, 0.555) 100%), url("https://img.freepik.com/vector-gratis/mapa-mundo-silueta-gris-aislado-blanco_67515-617.jpg?size=626&ext=jpg");
    background-size: contain;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

    
}

.inputs input{
    background: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 3px;
    font: inherit;
    cursor:default;
    outline: inherit;
    /* transition: all .5s ease-out; */
    background-color: rgba(0, 0, 0, 0.068);
}

.title{
    margin-bottom: 10px;
}

.countriesDelete{
    display: flex;
    flex-direction: row;
    font-size: 20px;

}

.buttonClose{
    background-color: rgba(255, 0, 0, 0.377);
    color: #fff;
    border: 0;
    padding: 3px;
    margin-left: 10px;
}

.countriesList{
    display: flex;
    flex-direction: row;
    margin-right:10px ;
    border: 1px solid #fff;
}

.inputs{
    padding-left: 40%;
    padding-top: 20px;
    color: #fff;
}

.descrip label{
    background-color:  rgba(0, 0, 0, 0.164);
}
.descrip{
    padding-bottom: 30px;
}

.dificulty label{
    background-color:  rgba(0, 0, 0, 0.164);
    padding: 3px;
}
.dificulty{
    padding-bottom: 30px;

}
 .seasonLabel{
    background-color:  rgba(0, 0, 0, 0.164);
    padding: 3px;
 }
 .durationLabel{
    background-color:  rgba(0, 0, 0, 0.164);
    padding: 3px;
 }

.season{

    padding-bottom: 30px;
}
.countries label{
    background-color:  rgba(0, 0, 0, 0.164);
    padding: 3px;
}
.countries{
    padding-bottom: 30px;

}

.buttoncrear{
    background: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 3px;
    font: inherit;
    cursor:default;
    outline: inherit;
    transition: all .5s ease-out;
    background-color: rgba(0, 0, 0, 0.534);
}

.buttoncrear:hover{
    background-color: rgba(255, 255, 255, 0.267);
}

.butonVolver{
    background: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 3px;
    font: inherit;
    cursor:default;
    outline: inherit;
    transition: all .5s ease-out;
    background-color: rgba(0, 0, 0, 0.534);
    margin-left: 15%;
}

.butonVolver:hover{
    background-color: rgba(255, 255, 255, 0.267);

}

.checkbox{
   
    height: 25px;
    width: 25px;
    
}

.checkbox:checked{
    background-color: black;
}

.seasonInputs{
    display: flex;
    flex-direction: column;
}

.error{
    color: red;
}