.container{
    background-image: linear-gradient(to top, hsla(241, 75%, 76%, 0.493) 0%, hsla(346, 86%, 88%, 0.555) 100%), url("https://img.freepik.com/vector-gratis/mapa-mundo-silueta-gris-aislado-blanco_67515-617.jpg?size=626&ext=jpg");
    background-size: contain;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    
}
.generales h1{
     color: #fff;
     font-size: 60px;
 }

.card{
    /* height:700px ; */
    /* width: 700px; */
    color: #fff;
    display: flex;
    flex-direction: row;
    margin-left: 300px;
    margin-top: 10%;
}

.imgdetailFlag{
    height: 300px;
    width: 450px;
}

.detalles{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 60px;
    font-size: 20px;
}

.capital,
.geografia,
.subregion,
.area,
.people{
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.26);
}
.activitiesTitle,
.activitiesCard{
    background-color: rgba(0, 0, 0, 0.26);
    margin-bottom: 10px;
}

.butonVolver{
    background: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 3px;
    font: inherit;
    cursor:default;
    outline: inherit;
    transition: all .5s ease-out;
    background-color: rgba(0, 0, 0, 0.534);
    margin-left: 15%;
    margin-top: 20px;
}

.butonVolver:hover{
    background-color: rgba(255, 255, 255, 0.267);

}
